.series1 {
    position: relative;
    width: 28vh;
    height: 42vh;
    background-size: cover;
    border-radius: 1vh;
    cursor: pointer;
    overflow: hidden;
    color: aliceblue;
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;
}

.allwatchlist {
    width: 100%;
    padding-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    min-height: 83vh;
    justify-content: space-between;
}

.bg-transparent {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    transition: .3s;
    pointer-events: none;
    background: rgba(11, 6, 17,0.2);
    background: -moz-linear-gradient(top, rgba(17, 6, 24, 0.2) 0%, rgba(11, 6, 17,0.72) 25%, rgba(11, 6, 17,0.82) 53%, rgba(11, 6, 17,0.95) 90%, rgba(11, 6, 17,0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11, 6, 17,0.2)), color-stop(25%, rgba(11, 6, 17,0.72)), color-stop(53%, rgba(11, 6, 17,0.82)), color-stop(90%, rgba(11, 6, 17,0.95)), color-stop(100%, rgba(11, 6, 17,0.95)));
    background: -webkit-linear-gradient(top, rgba(11, 6, 17,0.2) 0%, rgba(11, 6, 17,0.72) 25%, rgba(11, 6, 17,0.82) 53%, rgba(11, 6, 17,0.95) 90%, rgba(11, 6, 17,0.95) 100%);
    background: -o-linear-gradient(top, rgba(11, 6, 17,0.2) 0%, rgba(11, 6, 17,0.72) 25%, rgba(11, 6, 17,0.82) 53%, rgba(11, 6, 17,0.95) 90%, rgba(11, 6, 17,0.95) 100%);
    background: -ms-linear-gradient(top, rgba(11, 6, 17,0.2) 0%, rgba(11, 6, 17,0.72) 25%, rgba(11, 6, 17,0.82) 53%, rgba(11, 6, 17,0.95) 90%, rgba(11, 6, 17,0.95) 100%);
    background: linear-gradient(to bottom, rgba(11, 6, 17,0.2) 0%, rgba(11, 6, 17,0.72) 25%, rgba(11, 6, 17,0.82) 53%, rgba(11, 6, 17,0.95) 90%, rgba(11, 6, 17,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#341347', endColorstr='#341347', GradientType=0 );
    z-index:0;
}

.series1:hover .bg-transparent{
    height: 100%;
}

.series1:hover .series1desc { opacity: 1;}

.series1title {
    font-family: montserratbold;
    font-size: 3vh;
    max-width: 100%;
    margin: 0;
    text-align: center;
}

.series1desc p{
    font-family: montserrat;
    font-size: 2vh;
    max-width: 95%;
    max-height: 15vh;
    overflow: hidden;
    display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
    text-align: center;
}

.series1desc {
    position: inherit;
    opacity: 0;
    transition: .2s;
    z-index: 1;
    height: 100%;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.series1btns {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.series1btns .series1btn {
    font-family: montserratbolditalic;
    height: 5vh;
    margin-bottom: 1vh;
    background-color: aliceblue;
    color:rgb(11, 6, 17);
    transition: .2s;
    width: 95%;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

.series1btns .series1btn:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}