body, html {
    margin: 0;
    background-color: rgb(21, 14, 27);
    font-family: montserrat;
}

a {text-decoration: none;}

.menupanel {
    width: 100%;
    height: 13vh;
    background-color: rgb(11, 6, 17);
    position: fixed;
    top: 0;
    box-shadow: 0px 15px 21px -12px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 15px 21px -12px rgba(0, 0, 0, 0.36);
    z-index: 999;
}

#authmenu label {
    color:aliceblue;
    font-family: montserratbolditalic;
    font-size: 2.5vh;
    line-height: 4vh;
    margin: 2.5vh 0;
    margin-right: 3vh;
}

.wrapper{
    margin: 0 auto;
    max-width: 95vw;
}

.lowwrapper{
    margin: 0 auto;
    max-width: 85vw;
}

.navpanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    
}

#topmenulogoimg {
    width: 10vh;
    height: 100%;
}

#topmenulogoimg img {
    height: 6vh;
}

#topmenulogo {
    display: flex;
    align-items: center;
    width: 30vw;
    font-family: montserratbolditalic;
    font-size: 2vh;
}

#topmenulogo H2{
    margin-left: 1vw;
    color: white;
}

#topmenulogo .dropdown {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    background-color: aliceblue;
}

#topmenu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    font-family: montserratbolditalic;
}

#topmenu :last-child {
    margin-right: 0px;
}

.topmenubtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10vw;
    color:aliceblue;
    height: 100%;
    position: relative;
    margin-right: 1vw;
    transition: .5s;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 2vh;
}

.hoverline {
    position: absolute;
    bottom: 0px;
    width: 0px;
    height: .5vh;
    background-color: blueviolet;
    transition: .5s;
    opacity: .2;
}

.topmenubtn:hover .hoverline{
    width: 100%;
    opacity: 1;
}

.topmenubtn:hover {
    color:blueviolet;
}

#topauth {
    height: 9vh;
    width: 9vh;
    border-radius: 4.5vh;
    background-color: blueviolet;
}

#authmenu {
    width: 30vw;
    display: flex;
    flex-direction: row-reverse;
}

.page {
    margin-top: 13vh;
    width: 100%;
    background-color: rgb(21, 14, 27);
}

.mainseries {
    height: 77vh;
    background-color: bisque;
    display: flex;
    width: 100%;
    box-shadow: 0px 15px 21px -12px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 15px 21px -12px rgba(0, 0, 0, 0.36);
    margin-bottom: 3vh;
}

.contentbox {
    position: relative;
    width: 70vw;
    background-color: brown;
}

.thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('..Assets\\Pictures\\Thumbnails\\CBB_thumb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
    pointer-events: none;
}

.contentbox:hover .thumbnail {
    opacity: 0;
}

.maintrailer {
    width: 100%;
    height: 100%;
    border: none;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:30vw;
    background-color: rgb(11, 6, 17);
}

.description .logobox{
    width: 80%;
}

.description .textbox{
    width: 80%;
    font-family: montserrat;
}

.description a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 6vh;
    border-radius: 1vh;
    margin-bottom: 10vh;
    background-color: aliceblue;
    color: black;
    transition: .3s;
    font-size: 1.2vw;
    font-weight: bold;
    font-family: montserratbold;
    font-weight: bold;
}

.series .pic {
    margin-left: 1.5vw;
    height: 35vh;
    width: 25vw;
    border-radius: 1vh;
    background-position: center;
    background-size: cover;
    transition: .2s;
}

.description a:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.logobox {
    margin-top: 5vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logobox img {
    max-width: 80%;
}

.logobox h5{
    color: white;
    font-family: montserratbold;
    font-size: 2vh;
    text-align: center;
}

.desctext {
    overflow-y: scroll;
    max-height: 12vh;
}

.desctext::-webkit-scrollbar {
    display: none;
}

.textbox {
    color:white;
    line-break: normal;
    text-align: left;
    font-family: montserrat;
    font-weight: thin;
    font-size: 2vh;
    max-height: 42vh;
    overflow-y: scroll;
}

.textbox::-webkit-scrollbar {
    display: none;
}

.addseries {
    min-height: 400px;
}

.series {
    position: relative;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    background-color: rgb(11, 6, 17);
    border-radius: 2.5vh;
    font-family: montserrat;
    margin-bottom: 3vh;
}

.seriesname {
    font-family: montserratbold;
    color: aliceblue;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 5vh;
}

.orig {
    margin-bottom: 1vh;
    font-size: 3vh;
}

.year {
    color: aliceblue;
    margin: 0px;
    margin-bottom: 1.5vh;
    font-size: 3vh;
}

.series .desc {
    left: 27.5vw;
    position: absolute;
    width: 56vw;
    height: 27vh;
    top: 1.3vh;
}

.textbox {
    font-weight: montserrat;
}

.desctext {
    color: white;
    line-break: normal;
    text-align: justify;
    font-weight: thin;
    font-size: 1.7vh;
}

.seriespage{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66%;
    height: 6vh;
    border-radius: 1vh;
    background-color: aliceblue;
    color: black;
    transition: .3s;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: montserratbold;
    font-weight: bold;
    bottom: 2.5vh;
    left: 27.5vw;
}

.seriespage:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

#series2 {
    position: relative;
    z-index: 10;
    border-radius: 1vw;
    overflow: hidden;
    background-color: rgb(11, 6, 17);
    width: 95vw;
    margin-bottom: 3vh;
    height: 57vh;
}

.bggradient {
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(left, rgba(11,6,17,1) 0%, rgba(11,6,17,1) 42%, rgba(11,6,17,0) 58%, rgba(11,6,17,0) 100%);
    background: -webkit-linear-gradient(left, rgba(11,6,17,1) 0%,rgba(11,6,17,1) 42%,rgba(11,6,17,0) 58%,rgba(11,6,17,0) 100%);
    background: linear-gradient(to right, rgba(11,6,17,1) 0%,rgba(11,6,17,1) 42%,rgba(11,6,17,0) 58%,rgba(11,6,17,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b0611', endColorstr='#000b0611',GradientType=1 );
    width: 100%;
    height: 100%;
    z-index: 2;
}

.bgcontent {
    position: absolute;
    height: 100%;
    width: 55vw;
    z-index: 1;
    right: 0px;
    border-radius: 0vh 1vh 1vh 0vh;
    background-position: center;
    background-size: cover;
}

.series2desc {
    align-items: flex-start;
    width: 33vw;
    padding: 5vh;
    height: 50vh;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.series2logo {
    height: 15vh;
    margin-bottom: 2vh;
}

.series2desctext {
    align-self: stretch;
    color: white;
    line-break: normal;
    text-align: left;
    font-family: 'montserrat';
    font-size: 2vh;
    width: 27vw;
    max-height: 42vh;
}

a.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 6vh;
    border-radius: 1vh;
    background-color: aliceblue;
    color: black;
    transition: .3s;
    font-size: 1.2vw;
    font-weight: bold;
    font-family: montserratbold;
    font-weight: bold;
}

a.link:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

#viewcover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(11, 6, 17);
    transition: .2s;
    opacity: 1;
    z-index: 9999;
    pointer-events: none;
}

.trailer {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: none;
}

.trailerbtn {
    position: fixed;
    width: 5vh;
    height: 5vh;
    left: 5vh;
    top: 5vh;
    z-index: 99999;
    cursor: pointer;
}

.trailerbtn img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s;
}

.trailerbtn:hover img{
    filter: drop-shadow(0px 0px 5px blueviolet);
}