@media  (orientation: portrait) {
    #authmenu label {
        display: none;
    }

    #topmenulogo H2 {
        display: none;
    }

    .mainseries {
        flex-direction: column;
        height: 94vh;
    }

    .contentbox {
        width: 100vw;
        height: 30vh;
    }

    .description {
        height: 64vh;
        width: 100vw;
    }

    .menupanel {
        height: 6vh; 
    }

    #topmenulogoimg img {
        height: 4vh;
    }

    .topmenubtn {
        min-width: 6vw;
        font-size: 1vh;
    }

    #topauth {
        height: 4vh;
        width: 4vh;
        border-radius: 2vh;
        background-color: blueviolet;
    }

    .hoverline {
        height: .25vh;
    }

    .page {
        margin-top: 6vh;
    }

    .logobox h5 {
        font-size: 1.5vh;
    }

    .textbox {
        font-size: 1.5vh;
    }

    .description a {
        margin-bottom: 3vh;
        font-size: 2vh;
    }

    .series {
        flex-direction: column;
        height: 62vh;
    }

    .seriesname {
        font-size: 3vh;
    }
    .orig {
        margin-bottom: 0.5vh;
        font-size: 2vh;
    }
    .year {
        font-size: 2vh;
    }
    .series .desc {
        width: 77vw;
        top: 23vh;
        left: 0;
    }

    .series .pic4 {
        margin-left: unset;
        margin-top: 1.5vh;
        height: 21vh;
        width: 77vw;
        border-radius: 6vh 6vh 1vh 1vh;
        background-position: center;
        background-size: cover;
        transition: .2s;
    }

    .desctext {
        font-size: 1.3vh;
    }
    .seriespage {
        width: 91%;
        border-radius: 1vh 1vh 11vh 11vh;
        bottom: 2vh;
        left: 4vw;
    }
}