@media  (orientation: portrait) {
    #authmenu label {
        display: none;
    }

    .mainseries {
        flex-direction: column;
    }

    .contentbox {
        width: 100vw;
        height: 50vh;
    }
}