@font-face {
    font-family: montserrat;
    src: url(../Assets/Fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserrat;
    src: url(../Assets/Fonts/Montserrat-Bold.otf);
    font-weight: boldd;
}

@font-face {
    font-family: montserrat;
    src: url(../Assets/Fonts/Montserrat-Thin.otf);
    font-weight: thinn;
}

@font-face {
    font-family: montserrat;
    src: url(../Assets/Fonts/Montserrat-Italic.otf);
    font-weight: italicc;
}

@font-face {
    font-family: montserrat;
    src: url(../Assets/Fonts/Montserrat-BoldItalic.otf);
    font-weight: bolditalic;
}