@font-face {
    font-family: montserrat;
    src: url(../Assets/Fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserratbold;
    src: url(../Assets/Fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: montserratthin;
    src: url(../Assets/Fonts/Montserrat-Thin.otf);
}

@font-face {
    font-family: montserratitalic;
    src: url(../Assets/Fonts/Montserrat-Italic.otf);
}

@font-face {
    font-family: montserratbolditalic;
    src: url(../Assets/Fonts/Montserrat-BoldItalic.otf);
}