@media (orientation: portrait) {
    .videoplayer {
        width: 100vw;
        height: 35vh;
    }
    .view {
        flex-direction: column;
        height: 94vh;
    }

    .serieslending {
        width: 80vw;
        flex-direction: column;
    }
    
    .seriesposter {
        width: 100vw;
        height: unset;
        margin-top: unset;
        margin-right: unset;
        margin-left: unset;
    }

    .episodeselect {
        width: 100vw;
        height: 59vh;
        padding-top: 1vh;
    }

    .episode {
        width: 94vw;
    }


}