@media (orientation: portrait) {
    .videoplayer {
        width: 100vw;
        height: 35vh;
    }
    .view {
        flex-direction: column;
        height: 94vh;
    }

    .serieslending {
        width: 80vw;
        flex-direction: column;
    }
    
    .seriesposter {
        width: 100vw;
        height: unset;
        margin-right: unset;
        margin-bottom: 5vh;
    }

    .episodeselect {
        width: 100vw;
        height: 59vh;
        padding-top: 1vh;
    }

    .episode {
        width: 94vw;
    }

    .generalinfo {
        flex-direction: column;
    }

    .infotitle {
        width: 100%;
        margin-bottom: 2vh;
    }

    .studioslogos {
        width: 100%;
        justify-content: center;
    }

    .seriestitle {
        font-size: 4vh;
        text-align: center;
    }

    .seriesorigtitle {
        font-size: 2vh;
        text-align: center;
    }

    .seriesyear {
        font-size: 2vh;
        text-align: center;
    }

    .studioslogos img {
        height: 3vh;
        margin-left: 0.5vh;
        margin-bottom: 0.5vh;
    }
    .desctext {
        font-size: 1.5vh;
        margin-bottom: 2vh;
    }

    .staff {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size: 2vh;
    }

    .seriesdescription {
        padding-bottom: 15vh;
    }

    .workprogress {
        font-size: 3vh;
        bottom: 5vh;
    }
}