@media (orientation: portrait) {
    .videoplayer {
        width: 100vw;
        height: 35vh;
    }
    .view {
        flex-direction: column;
        height: 94vh;
    }

    .serieslending {
        margin-top: 5vh;
        width: 80vw;
        flex-direction: column;
    }
    
    .seriesposter {
        width: 100vw;
        height: unset;
    }

    .episodeselect {
        width: 100vw;
        height: 59vh;
    }
}