.view {
    height: 87vh;
    background-color: rgb(21, 14, 27);
    display: flex;
    width: 100%;
    box-shadow: 0px 15px 21px -12px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 15px 21px -12px rgba(0, 0, 0, 0.36);
}

.videoplayer {
    height: 100%;
    width: 80vw;
}

.episodeselect {
    width: 20vw;
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(11, 6, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.episodeselect::-webkit-scrollbar {
    display: none;
}

.episode {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    padding: 2vh 2vw;
    background-color: rgb(220, 220, 220);
    color:rgb(11, 6, 17);
    height: 10vh;
    width: 15vw;
    font-size: 4vh;
    margin-bottom: 1vh;
    transition: .2s;
}

.episode:hover {
    cursor: pointer;
    background-color: rgb(101, 89, 116);
}

.episode:hover label {
    cursor: pointer;
}

.ep_page {display: none;}

.movie-panel {
    display: none !important;
}

.serieslending {
    height: 77vh;
    width: 94vw;
    backdrop-filter: blur;
    background-color: rgb(21, 14, 27);
    padding: 5vh;
    position: relative;
    display: flex;
    color: aliceblue;
}

H1, H2, H3, H4, H5, H6 {
    margin: 0px;
}

.seriestitle {
    font-size: 6vh;
    font-weight: bolditalic;
}

.seriesorigtitle {
    font-size: 4vh;
}

.seriesyear {
    font-size: 3vh;
}

.seriesposter {
    margin-left: -5vh;
    margin-top: -5vh;
    margin-bottom: -5vh;
    margin-right: 5vh;
    height: 87vh;
}

.generalinfo {
    display: flex;
    justify-content: space-between;
}

.studioslogos {
    display: flex;
    width: 50%;
    align-content: normal;
    flex-wrap: wrap;
    justify-content: end;
}

.studioslogos img {
    height: 5vh;
    margin-left: 1vh;
    margin-bottom: 1vh;
}

.infotitle {
    width: 50%;
}

.desctext {
    font-size: 2vh;
    margin-bottom: 3vh;
}

.staff {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 2.5vh;
}

.staffdiv {
    display: flex;
    margin-right: 3vh;
    margin-bottom: 2vh;
}

.workprogress {
    position: absolute;
    display: flex;
    font-size: 6vh;
    bottom: 0vh;
    right: 0vh;
}

.seriesdescription {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}